
@model List<Employee>

@{
    ViewData["Title"] = "Employee List";
}
<div class="container">

    <div class="row">

        <div class="col-8 offset-2">
            <h1 class="text-center text-primary"> Novatek Employee Information</h1>
            <a class="btn btn-sm btn-success m-1" asp-controller="Employee" asp-action="Create">Add Employee</a>
            <p class="text-center text-success">@TempData["error"]</p>

            <table class="table table-bordered">
                <thead>
                    <tr class="text-center">
                        <th>EmployeeID</th>
                        <th>FullName</th>
                        <th>Company</th>
                        <th>Department</th>
                        <th>Designation</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model)
                    {
                    <tr>
                        <td>@employee.EmployeeID</td>
                        <td>@employee.FirstName @employee.LastName</td>
                        <td>@employee.Company</td>
                        <td>@employee.Department</td>
                        <td>@employee.Designation</td>
                        <td>@employee.Salary</td>
                        <td>
                            <a class="btn btn-sm btn-warning " asp-controller="Employee" asp-action="Edit" asp-route-id="@employee.EmployeeID">Edit</a>
                            <a class="btn btn-sm btn-danger " asp-controller="Employee" asp-action="Delete" asp-route-id="@employee.EmployeeID">Delete </a>
                        </td>

                        <td>
                            <a class="btn btn-sm btn-warning " asp-controller="Employee" asp-action="IncrementInfo" asp-route-id="@employee.EmployeeID">IncrementInfo</a>
                            <a class="btn btn-sm btn-danger " asp-controller="Employee" asp-action="EmployeeJoiningInfo" asp-route-id="@employee.EmployeeID">EmployeeJoiningInfo </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
    </div>
